auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{% for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
{% endfor %}

auto peerlink
iface peerlink {{ node[inventory_hostname].mlag.members | join(" ") }}

auto peerlink.4094
iface peerlink.4094
   address {{ node[inventory_hostname]["mlag"]["address"] }}
   clagd-backup-ip {{ node[inventory_hostname]["mlag"]["backupip"] }} vrf mgmt
   clagd-peer-ip {{ node[inventory_hostname]["mlag"]["peerip"] }}
   clagd-priority {{ node[inventory_hostname]["mlag"]["priority"] }}
   clagd-sys-mac {{ node[inventory_hostname]["mlag"]["sysmac"] }}

{% for interface in node[inventory_hostname]["mlag"]["interfaces"] -%}
auto {{interface}}
iface {{interface}}
   bond-slaves {{ node[inventory_hostname]["mlag"]["interfaces"][interface].members }}
   bridge-access {{ node[inventory_hostname]["mlag"]["interfaces"][interface].vlans }}
   clad-id {{ node[inventory_hostname]["mlag"]["interfaces"][interface].clagid }}
{% endfor %}

{% for vlanint in node[inventory_hostname]["routing"]["svi"] -%}
auto {{vlanint}}
iface {{vlanint}}
    address {{ node[inventory_hostname]["routing"]["svi"][vlanint]["ip"] }}
    vlan-id {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vlan"] }}
    vlan-raw-device bridge
    address-virtual {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["ip"] }} {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["mac"] }}
{% endfor %}

auto bridge
iface bridge
    bridge-ports {{ node[inventory_hostname].switching.bridge | join " " }}
    bridge-vids {{ node[inventory_hostname].switching.vlans | join " " }}
    bridge-vlan-aware yes
