auto eth0
iface eth0 inet dhcp
 vrf mgmt

auto vagrant
iface vagrant inet dhcp

auto mgmt
iface mgmt
  address 127.0.0.1/8
  vrf-table auto

{%- for interface in node[inventory_hostname]["ports"] -%}
auto {{interface}}
iface {{interface}}
{% endfor %}

{% for vlanint in node[inventory_hostname]["routing"]["svi"] -%}
auto {{vlanint}}
iface {{vlanint}}
    address {{ node[inventory_hostname]["routing"]["svi"][vlanint]["ip"] }}
    vlan-id {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vlan"] }}
    vlan-raw-device bridge
    address-virtual {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["ip"] }} {{ node[inventory_hostname]["routing"]["svi"][vlanint]["vrrp"]["mac"] }}
{% endfor %}
